{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong>텍스트 번역 결과</strong>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-hover">
            <tr>
                <td>원본 텍스트</td>
                <td>{{ndt.text}}</td>
            </tr>
            
            <tr>
                <td>네이버 파파고 번역기</td>
                <td>{{ndt.n_text}}</td>
            </tr>
            <tr>
                <td>카카오 번역기</td>
                <td>{{ndt.kaka_text}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <button class="btn btn-outline-warning" onclick="location.href='/nat_lang/translate'">재실행</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}