{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong>아이리스 회귀</strong>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="/regression/iris" method="post">
            <table class="table table-borderless">
                <tr>
                    <td><label for="index">테스트 데이터셋 인덱스</label></td>
                    <td><input type="text" class="form-control" placeholder="0~37 사이의 값" id="index" name="index"></td>
                </tr>
                <td>피쳐 선택</td>
                <td>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="feature" name="feature" value="sl"
                            checked>Sepal length
                    </label>
                </td>
                <td>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="feature" name="feature" value="sw"
                            checked>Sepal width
                    </label>
                </td>

                <tr>
                    <td></td>
                    <td>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="feature" name="feature" value="pl"
                                checked>Petal length
                        </label>
                    </td>
                    <td>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="feature" name="feature" value="pw"
                                checked>Petal width
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="submit" class="btn btn-outline-success mr-2">실행</button>
                        <button type="reset" class="btn btn-outline-secondary">취소</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}