{% extends "08.bootstrap.htm" %}
{% block title %}Navbar{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='img/hoseo.png')}}" alt="logo" style="height: 50px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">데이터 분석</a>
        <li class="nav-item">
            <a class="nav-link" href="#">머신 러닝</a>
    
    </ul>
    <div class="navbar-collapse collapse w-10 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <i class="fas fa-cloud-showers-heavy" style="color: beige;"></i>
        </ul>
    </div>
</nav>
{% endblock %}